.git
.github
.gitignore
.gitattributes

.idea
.vscode
.cursor
.fleet
.nova
.zed

node_modules
vendor

public/build
public/hot
public/storage

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail

.env
.env.*
!.env.example
firebase_authentication.json

tests
scripts
http

_ide_helper.php
_ide_helper_models.php

*.log
.phpunit.result.cache
auth.json
Homestead.json
Homestead.yaml
draft.yaml
